<div class="container">
  <img src="https://www.cascadia.edu/_resources/img/Spring%202023.gif" alt="" class="img">
  <h2 class="title">Graduation <br><span class="title1">Ceremony</span></h2>
  <div class="non-semantic-protector"> 
    <h1 class="ribbon">
      <strong class="ribbon-content">Class of 2023</strong>
   </h1> 
  </div>
<br>
   <div class="container1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter"> TIME : 10am</h3>
        <h3 class="animate-charcter">DATE : 24TH MARCH</h3>
        <h3 class="animate-charcter">VENUE : Vedanta Hotel,Coimbatore</h3>
      </div>
    </div>
  </div>    
</div>
  
<!-- <a href="https://codepen.io/uiswarup/full/wvjZgar" target="_blank"> -->
  
    <!-- </a> -->